/* src/styles/Header.css */
.navbar {
    
    padding: 1rem;
  }
  
  .nav-list {
    list-style: none;
    display: flex;
    gap: 1rem;
  }
  
  .nav-item {
    text-decoration: none;
    color: #333;
  }
  