.vaihto-list {
    list-style-type: "🍊 ";
    padding-left: 1.5rem;
    margin-top: 1rem;
  }
  
  .vaihto-list li {
    margin-bottom: 1rem;
    font-size: 1.2rem;
    line-height: 1.5;
    color: #122262;
  }
  
  /* Hover tehoste listoille */
  .vaihto-list li:hover {
    color: #6c7ab7;
    background-color: #e6ebff;
    border-radius: 6px;
    padding: 0.3rem;
  }

  .containerVaihto{
    max-width: 90%;
    margin: 2rem auto;
    padding: 5rem;
    text-align: left;
  }