/* Yläpalkki (navbar) */
.navbar {
  width: 100%;
  background-color: #122262;
  padding: 10px 0;
  position: fixed; /* kiinnittää navbaarin yläreunaan */
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* pitää navbaarin muun sisällön yläpuolella */
}

.nav-list {
  list-style-type: none;
  display: flex;
  gap: 20px;
  margin: 0;
  padding: 0;
}

.nav-item {
  color: rgb(44, 41, 41);
  text-decoration: none;
  font-weight: bold;
  padding: 10px 20px;
  transition: background-color 0.3s, color 0.3s;
}

.nav-item:hover {
  border-radius: 5px;
  color: #122262; /* vaihtaa väriä hover-tilassa */
}

.nav-item.active {
  color: #122262; /* vaaleanpunainen väri aktiiviselle sivulle, ei toimi */
}










  